@import url("https://fonts.googleapis.com/css?family=Audiowide");

* {
  font-family: "Audiowide", sans-serif;
}
html,
body {
  min-height: 100vh;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 50);
}

header {
  color: white;
  text-align: center;
  font-size: 24px;
}

#resize {
  padding: 10px 15px;
  font-size: 16px;
  background-color: white;
  color: rgb(50, 50, 50);
}

#container {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  height: 480px;
  width: 480px;
  background-color: white;
}

.divStyle {
  box-sizing: border-box;

  /* border-style: dashed;
  border-color: black;
  border-width: 1px; */

  /*background-color: aqua;
   height: 80px;
  width: 80px; */
}

.change-color {
  background-color: cadetblue;
}